body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
a {
    display: inline-block; 
    transition: transform 0.3s ease; 
    text-decoration: none;
}
a:hover {
    transform: scale(1.2);
}
.landing-header {
    text-align: center;
    margin: 5% 10%;
    letter-spacing: 0.2rem;
}
.container {
    width: 80%;
    margin: 5% auto;
}

/* Left Content */
.left-information {
    padding-right: 2.5%;
}
#my-image {
    border-radius: 50%;
    width: 100%;
}
.container #name {
    text-align: center;
    letter-spacing: 0.12rem;
    margin-top: 5%;
    hyphens: auto;
    overflow-wrap: break-word;
    font-size: 2.5rem;
}
.container #summary {
    width: 100%;
    text-align: justify;
    text-justify: inter-word;
    margin: 2% 0 2% 0;
}
.left-section {
    font-weight: bold;
    text-align: left;
}
.right-section {
    text-align: right;
}
.biography-container {
    margin-bottom: 5%;
}
.biography-list {
    padding: 2% 0 0 0;
    margin:  0 1%;
    border-top: 1px solid;
}
.contact-container {
    margin-bottom: 10%;
}
.contact-list {
    margin: 4% 0 0 0;
    padding: 0 0 0 0;
    border-bottom: 1px solid rgb(133, 129, 129);
}
.social-contact-list {
    text-align: center;
}

/* Right Content */
.right-information {
    padding-left: 2.5%;
}
.header-container {
    border-bottom: 1px solid;
}
.header-container h2 {
    text-align: center;
    font-size: 2.5rem;
}
.info-container {
    margin-bottom: 2%;
}
.info-container .period {
    text-align: right;
    align-items: center;
    font-size: 1rem;
}
.info-container .information-row {
    margin-top: 2%;
}
.info-container .information-row h3 {
    margin: 0;
}
.break-line {
    margin: 0 1%;
    height: 0.5px;
    background-color: rgb(153, 153, 153);
}